<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <title>Registration Confirmation</title>
</head>

<body style="margin-top: 80px; padding: 10px; font-family: Arial, sans-serif; background-color: #f5f5f5;">
    <table role="presentation" width="100%" cellspacing="0" cellpadding="0" style="background-color: #f5f5f5;">
        <tr>
            <td align="center">
                <table role="presentation" width="650" cellspacing="0" cellpadding="0"
                    style="background-color: #ffffff; border: 1px solid #e0e0e0; box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2); border-radius: 10px; margin: 20px; padding: 20px;">
                    <tr>
                        <td align="center" style="padding: 20px 0;">
                        </td>
                    </tr>
                    <tr>
                        <td align="center" style="padding: 0 20px;">
                            <h1 style="color: #0070c9;">Welcome to Our Portal!</h1>
                            <br>
                            <h2 style="color: #000000;">Dear, ${users.fName}</h2>
                            <br>
                            <p style="font-size: 16px;">Thank you for registering with us.</p>
                            <p>Your registration is successful. Below are your credentials:</p>
                            <p><strong>Username:</strong>"username"</p>
                        </td>
                    </tr>
                    <tr>
                        <td align="center" style="padding: 20px 0;">
                            <p style="font-size: 16px;">If you didn't create this account, please ignore this email.</p>
                        </td>
                    </tr>
                </table>
            </td>
        </tr>
    </table>
</body>
</html>